body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background: linear-gradient(to right, #ffcc00, #cc0000);
    color: white;
    padding: 20px 0;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
}

footer nav a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
}
